.guide-container {
    padding: 20px;
    background-color: #f4f4f4;
    max-width: 1275px;
    margin: auto;
    position: relative; /* Added to position arrows relative to the guide-container */
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Roboto';
}

.arrow {
    color: #b3922a;
}

.guides-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative; /* Ensure child elements like guide-card stay within this area */
}

.guide-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px;
    transition: transform 0.3s;
}

.guide-card:hover {
    transform: scale(1.05);
}

.left-arrow, .right-arrow {
    background-color: #b3922a;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1; /* Ensure arrows are above other content */
}



.right-arrow {
    right: 36px; /* Adjust the position to the right of the container */
}

.left-arrow:hover, .right-arrow:hover {
    background-color: #d1a44a;
}


.guide_info_heading{
font-family: 'Monsarat';
margin-top: 2px;
margin-bottom: 1px;
}

.guide_info_para{
    font-family: 'Monsarat'; 
    margin-top: 2px;
margin-bottom: 1px; 
}


.guide-info_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rating_guide_image{
    width: 95px;
    height: 97px;
    border-radius: 50%;
}