.guide_main_container {
    background-color: #ffffff;
}

.guide_main_container_slider {
    max-width: 1200px;
    margin: auto;
    position: relative;
    height: 500px;
    padding-top: 69px;
    overflow: hidden; /* Hide images outside the visible container */
}

.guide_main_container_slider_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guide_main_container_slider_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guide_main_container_slider_heading {
    font-size: 32px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

.guide_main_container_slider_para_head {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.guide_main__image_container {
    display: flex;
    justify-content: space-between; /* Space out the 3 images */
    height: 400px;
    transition: transform 0.8s ease; /* Smooth transition */
    transform: translateX(0); /* Default state for image container */
}

.guide_main__image_container_one {
    flex: 0 0 30%; /* Make each image take up 30% of the container */
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
}

.guide_main__image_container_one_image {
    width: 100%;
    height: 233px;
    cursor: pointer;
}

.guide_main__image_container_one_image_paragraph {
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    margin-bottom: 0px;
}

.guide_main__image_container_one_head{
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    word-spacing: 4px;
    font-family: "Roboto", sans-serif;

}

.guide_main__image_container_two_head {
    display: flex;
    justify-content: space-around;

    font-family: "Roboto", sans-serif;
}

.guide_main__arrow_left, .guide_main__arrow_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #dbb127;
    z-index: 2;
}

.guide_main__arrow_left {
    left: 0;
}

.guide_main__arrow_right {
    right: 0;
}

.guide_main__arrow_right_hr {
    border: 0;
    height: 2px; /* Thickness of the line */
    background-color: #dbb127; /* Line color */
    padding-top: 3px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Add bottom margin for spacing */
    width: 100%; /* Full width */
    max-width: 80%; /* Optional: You can reduce the width if needed */
    margin-left: auto;
    margin-right: auto; /* Center the line */
}

