.team_slider {
    height: 400px;
    background: rgb(239 239 239 / 10%);
    overflow: hidden;  /* To hide the extra images */
}

.team_slider_content {
    max-width: 1200px;
    margin: auto;
    height: 300px;
    position: relative;
    overflow: hidden; /* Ensures only the visible area is shown */
}

.team_slider_content_head {
    display: flex;
    justify-content: space-between;
    width: 16%;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 12px;
}

.team_slider_content_head_heading {
    font-size: 32px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: "Roboto", sans-serif;
    color: rgb(10, 9, 9);
}

.team_slider_content_icons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;

}

.team_slider_content_icons_image {
    width: 30%;
    height: 224px;
    margin-right: 10px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .team_slider_content_head_heading {
        font-size: 20px;
    }
    .team_slider_content_icons_image {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .team_slider_content_head_heading {
        font-size: 18px;
    }
    .team_slider_content_icons_image {
        width: 33%;
    }
}

@media (max-width: 768px) {
    .team_slider_content_head_heading {
        font-size: 16px;
    }
    .team_slider_content_icons_image {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .team_slider_content_head_heading {
        font-size: 14px;
    }
    .team_slider_content_icons_image {
        width: 100%;
        margin-right: 0;
    }
}

/* Large Screens (Desktops and Laptops) */
@media (min-width: 1200px) {
    .team_slider_content_icons {
        flex-wrap: nowrap;
    }
}

/* Medium Screens (Tablets) */
@media (max-width: 1199px) and (min-width: 768px) {
    .team_slider_content_icons {
        flex-wrap: wrap;
    }
}

/* Small Screens (Mobile) */
@media (max-width: 767px) {
    .team_slider_content_icons {
        flex-wrap: wrap;
    }
}
