.video-container {
    padding: 20px;
  }
  
  .video-title {
    font-size: 19px;
    color: #444343;
    margin-bottom: 40px;
    max-width: 1357px;
    margin: auto;
    margin-top: 39px;
  }
  
  .video-section-title {
    background-color: black;
    color: white;
    padding: 10px 21px;
    display: inline-block;
    margin-top: 19px;
    margin-left: 58px;
    font-size: 18px;
  }
  
  .video-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
  
  .video-thumbnails {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
  }
  
  .video-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    margin-right: 10px;
  }
  
  .video-thumbnail {
    width: 100%;
    max-width: 230px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .video-thumbnail:hover {
    transform: scale(1.1);
  }
  
  .video-title-text {
    font-size: 14px;
    margin-top: 5px;
    color: #333;
  }
  
  /* Arrows */
  .arrow {
    background-color: black;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  
  .arrow:hover {
    opacity: 1;
  }
  
  .left-arrow {
    left: -40px;
  }
  
  .right-arrow {
    right: -40px;
  }
  
  .breadcrumb_video {
    max-width: 1241px;
    margin: auto;
    margin-top: 74px;
    font-family: 'Montserrat';
    font-size: 14px;
  }
  
  .breadcrumb_video a {
    color: orange;
    text-decoration: none;
  }
  
  .video-container_head {
    font-size: 13px;
    max-width: 1371px;
    margin: auto;
    text-align: center;
    margin-top: 68px;
  }
  
  .video-container_head_heading {
    font-family: 'Roboto';
    word-spacing: 3px;
  }
  