.blog-container {
  text-align: center;
  margin-top: 109px;
}

.sponsors_image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.sponsor_slide {
  margin: 0 10px;
}

.sponsor_slide img {
  max-width: 395px;
  max-height: 199px;
}

.sponsor-details {
  border-top: 2px solid #7f675b;
  margin-top: 20px;
  padding-top: 10px;
}

h2 {
  color: #7f675b;
}

h3 {
  color: #8a7547;
  font-weight: bold;
}

p {
  margin: 5px 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}


.breadcrumb_sponsors {
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 122px;
  margin-top: 32px;
}

.breadcrumb_sponsors a {
  color: orange;
  text-decoration: none;
}